<nav class="nav">
    <ul>
        @foreach (var item in MenuHelper.Top())
        {
            var subMenus = MenuHelper.Sub(item);
            if (item.Navigation.Show)
            {
                <li @Html.Raw(MenuHelper.IsCurrent(item) ? "class=\"active\"" : "")>
                    @Html.FrontHtml().PageLink(item.LinkText, item.FullName)
                    @if (subMenus != null && subMenus.Any())
                    {
                        <ul>
                            @foreach (var subMenu in subMenus)
                            {
                                <li>
                                    @Html.FrontHtml().PageLink(subMenu.LinkText, subMenu.FullName)
                                </li>
                            }
                        </ul>
                    }
                    @Html.FrontHtml().RenderView("Menu." + item.FullName)
                    @if (item.CustomFields != null && item.CustomFields.Any())
                    {
                        <ul>
                            @foreach (var sub in item.CustomFields)
                            {
                                <li>
                                    <a href="@sub.Value">@sub.Key</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>
</nav>
